.editor {
  &__heading {
    text-align: center;
  }
  &__textarea {
    width: 290px;
    height: 93px;
    border-radius: 5px;
    border-color: #D3D4D8;
    box-sizing: border-box;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    &--save {
      width: 53px;
      height: 27px;
      background: #121232;
      color: #ffffff;
      border-radius: 5px;
      border: thin;
      margin-right: 5px;
    }
    &--load {
      width: 53px;
      height: 27px;
      border-radius: 5px;
      border-color: #121232;
      background:#ffffff;
      color:#121232;
    }
  }
}
