.editor {
  &__heading {
    text-align: center;
  }
  &__textarea {
    width: 436px;
    height: 139px;
  }
  &__button {
    &--save {
      width: 79px;
      height: 40px;
    }
    &--load {
      width: 79px;
      height: 40px;
    }
  }
}
