@import "~normalize.css";

@import "_variables";
@import "modules/form.scss";

body {
  background: $wtf;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}
