@import "~normalize.css";

@import "_variables";
@import "modules/form.scss";
@import "modules/media.scss";

body {
  background: $wtf;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #121232;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 16px;
}
